@model HomeViewModel

    @foreach (var showing in Model.Showings)
    {        
        <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail m-3">
                <img src="@showing.Movie.ImageURL" alt="@showing.Movie.Title" />
                <h2>@showing.Movie.Title</h2>
                <div class="caption">
                    <h3 class="float-left">
                        Date:@showing.StartHour.ToString("dd/MM/yyyy")
                        <br />
                        Time:@showing.StartHour.ToString("HH:mm tt")
                    </h3>
                    @if (showing.TotalSeats - showing.OccupiedSeats > 0)
                    {
                    <h4 class="float-left">
                        Open seats: @(showing.TotalSeats-showing.OccupiedSeats)
                        <br />
                        <button asp-controller="Home" asp-action="BookTicket" asp-route-id="@showing.Id" formmethod="post">Book now!</button>
                        <br />
                    </h4>                       
                    }
                    else
                    {
                        <h4 class="float-left">
                            All seats are booked!
                        </h4>
                    }
                </div>              
            </div>                       
        </div>
    }
